.login-container {
  .header {
    height: 45px;
    text-align: right;

    padding: 25px 100px 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
  }
  .title {
    font-size: 25px;
    padding: 20px 0;
    text-align: center;
  }
  .welcome {
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
  }
  .content-form {
    input {
      margin: 10px 0 20px 0;
    }
    button {
      margin-top: 10px;
      width: 100%;
    }
    .back {
      margin-top: 20px;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .btn-submit {
      text-align: center;
      &:disabled {
        cursor: no-drop !important;
      }
    }
    .loaderIcon {
      animation: spin 1s infinite;
    }
    @keyframes spin {
      from {
        transform: scale(1) rotate(0deg);
      }
      to {
        transform: scale(1) rotate(360deg);
      }
    }
  }
}
